<div class="card" ng-if="!producto">
    <div class="card-header d-flex justify-content-between">
        <h5>Productos vendidos</h5>
    </div>
    <div class="card-body">

        <div class="card">
            <div class="card-header">Filtrar por fechas</div>
            <div class="card-body">
                <form
                        novalidate
                        name="formSearch"
                        autocomplete="off">
                    <div class="row">
                        <div class="col">
                            <!-- Search Nombre -->
                            <div class="form-outline">
                                <input type="date" id="formSearchFirtsDate" class="form-control active" ng-model="formModel.formSearchFirtsDate"/>
                                <label class="form-label" for="formSearchFirtsDate">Fecha inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Search Atendido-->
                            <div class="form-outline">
                                <input type="date" id="formSearchEndDate" class="form-control active" ng-model="formModel.formSearchEndDate"/>
                                <label class="form-label" for="formSearchEndDate">Fecha Fin</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button"
                        class="btn btn-outline-primary btn-rounded"
                        data-mdb-ripple-color="dark"
                        data-ng-click="getProductosVendidos()">
                    <i class="fab fa-searchengin"></i> Buscar</button>
                <button type="button"
                        class="btn btn-outline-secondary btn-rounded"
                        data-mdb-ripple-color="dark"
                        data-ng-click="getProductosVendidos()">
                    <i class="fas fa-clipboard-list"></i> Imprimir</button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th scope="col">Nombre del producto</th>
                    <th scope="col">Cantidad de productos vendidos</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="producto in productos | filter: {nombre: formSearchNombre, cantidad: formSearchCantidad}">
                    <!--                        <th scope="row"><input type="checkbox" ng-model="idsCheck[pedido.id].value" ng-click="selectedPedido(pedido.id,idsCheck[pedido.id].value)"></th>-->
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.total}}</td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
