<div class="card" ng-if="!producto">
    <div class="card-header d-flex justify-content-between">
        <h5>Pedidos registrados</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <button type="button" 
                class="btn btn-outline-danger btn-rounded" 
                ng-click="confirmDeleteSelected()"
                ng-disabled="!idsSelected.length"
                data-mdb-ripple-color="dark">
                <i class="far fa-trash-alt"></i> Eliminar seleccionados</button>
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Visto</th>
                        <th scope="col">Atendido</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="pedido in pedidos">
                        <th scope="row"><input type="checkbox"
                            ng-model="idsCheck[pedido.id].value"
                            ng-click="selectedPedido(pedido.id,idsCheck[pedido.id].value)"></th>
                        <th scope="row">{{pedido.nombre_completo}}</th>
                        <td>{{pedido.direccion}}</td>
                        <td>{{pedido.telefono}}</td>
                        <td><span class=" {{pedido.visto==1?'text-success':'text-danger'}}">{{pedido.visto==1?'Visto':'Sin ver'}}</span></td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-outline-{{pedido.atendido==0?'warning':'success'}} btn-rounded"
                                data-mdb-ripple-color="dark"
                                ng-disabled="pedido.atendido==1"
                                ng-click="atenderPedido(pedido)"
                            >
                            <i class="fas fa-check{{pedido.atendido==0?'':'-double'}}"></i> {{pedido.atendido==1?'Antendido':'Atender'}}
                            </button>
                        </td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-outline-info btn-rounded"
                                data-mdb-ripple-color="dark"
                                data-mdb-toggle="modal" data-mdb-target="#modalDetallePedido"
                                ng-click="verDetallePedido(pedido)"
                            >
                                <i class="far fa-eye"></i> Ver
                            </button>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted"></div>

    <div class="modal fade" id="modalDetallePedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información Pedido</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row justify-content-center" novalidate name="formPedido" data-ng-submit="submitForm(formUsuario.$valid)" autocomplete="off">
                    <div class="col-sm-12">
                        <div class="form-outline mb-4">
                            <input
                                type="text"
                                id="nombre_completo"
                                class="form-control form-control-lg active"
                                name="nombre_completo"
                                ng-model="pedido.nombre_completo"
                                readonly
                            />
                            <label class="form-label" for="nombre_completo">Nombre completo</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input
                                type="text"
                                id="direccion"
                                class="form-control form-control-lg active"
                                name="direccion"
                                ng-model="pedido.direccion"
                                disabled
                            />
                            <label class="form-label" for="direccion">Dirección</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input
                                type="text"
                                id="telefono"
                                class="form-control form-control-lg active"
                                ng-model="pedido.telefono"
                                name="telefono"
                                readonly
                            />
                            <label class="form-label" for="telefono">Telefono</label>
                        </div>
                    </div>
                    
                </form>

                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Ingredientes</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="producto in productosPedido">
                        <td >
                            <div class="d-flex align-items-center">
                                <img
                                    src="../fotos/{{producto.imagen}}"
                                    alt="Sin imagen"
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                                />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{producto.nombre}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{producto.ingredientes}}</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{producto.precio}}</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{producto.cantidad}}</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{producto.precio * producto.cantidad}}</p>
                        </td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td>{{totales.cantidad}}</td>
                        <td>{{totales.total}}</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
</div>
