<link rel="stylesheet" href="css/mdb.min.css" />
<style>
    /* Limit image width to avoid overflow the container */
    img {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }

    #canvas {
        height: 600px;
        width: 600px;
        background-color: #ffffff;
        cursor: default;
        border: 1px solid black;
    }

</style>
<div class="card" ng-if="!producto">
    <div class="card-header d-flex justify-content-between">
        <h5>Productos registrados</h5>
        <button
            type="button"
            class="btn btn-outline-primary btn-rounded"
            data-mdb-ripple-color="dark"
            ng-click="addProducto()"
        >
            <i class="fas fa-plus"></i> Agregar
        </button>
    </div>
    <div class="card-body">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="producto in productos">
                    <td>
                        <div class="d-flex align-items-center">
                            <img ng-if="producto.imagen"
                                src="../fotos/{{producto.imagen}}"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{producto.nombre}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{producto.precio}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{producto.cantidad}}</p>
                    </td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-danger btn-rounded"
                            data-mdb-ripple-color="dark"
                            ng-click="confirmDelete(producto)"
                        >
                            <i class="far fa-trash-alt"></i> Eliminar
                        </button>
                    </td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-warning btn-rounded"
                            data-mdb-ripple-color="dark"
                            ng-click="editarProducto(producto)"
                        >
                            <i class="fas fa-pen"></i> Editar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted"></div>
</div>

<div class="card" ng-show="producto">
    <div class="card-header d-flex justify-content-between">
        <h5>{{producto.id?'Editar':'Agregar'}} producto</h5>
        <button
            type="button"
            class="btn btn-outline-primary btn-rounded"
            data-mdb-ripple-color="dark"
            ng-click="regresar()"
        >
            <i class="fas fa-arrow-left"></i> Regresar
        </button>
    </div>
    <div class="card-body">
        <form
            class="row justify-content-center"
            name="formAlumno"
            data-ng-submit="submitForm(formAlumno.$valid)"
            novalidate
        >
            <div class="col-md-4 col-sm-12">
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="nombre"
                        class="form-control form-control-lg {{producto.id?'active':''}}"
                        required
                        name="nombre"
                        data-ng-model="producto.nombre"
                    />
                    <label class="form-label" for="nombre">Nombre</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="precio"
                        required
                        data-ng-model="producto.precio"
                        name="precio"
                        class="form-control form-control-lg {{producto.id?'active':''}}"
                    />
                    <label class="form-label" for="precio">Precio</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="cantidad"
                        required
                        data-ng-model="producto.cantidad"
                        name="cantidad"
                        class="form-control form-control-lg {{producto.id?'active':''}}"
                    />
                    <label class="form-label" for="cantidad">Cantidad</label>
                </div>
                <div class="form-outline mb-4">
                    <textarea
                        id="descripcion"
                        class="form-control form-control-lg {{producto.id?'active':''}}"
                        required
                        name="descripcion"
                        data-ng-model="producto.descripcion"
                    ></textarea>
                    <label class="form-label" for="descripcion"
                        >Descripcion</label
                    >
                </div>
                <div class="form-outline mb-4">
                    <div id="result" ></div>
                </div>
                <div class="form-outline mb-4" ng-if="producto.imagen">
                    <img
                        src="../fotos/{{producto.imagen}}"
                        alt=""
                        style="width: 100px; height: 100px"
                        class="rounded-circle"
                    />

                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="imagen">Imagen</label>
                    <input
                        type="file"
                        class="form-control form-control-lg"
                        id="imagen"
                        accept="image/*"
                        data-file-model="producto.uploadFoto"
                    />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center mb-4">

                <button
                        type="button"
                        class="btn btn-outline-success btn-rounded ml-5"
                        data-mdb-ripple-color="dark"
                        data-mdb-toggle="modal"
                        data-mdb-target="#modalCortarImagen"
                >
                    imagen
                </button>
                <input
                    type="submit"
                    class="btn btn-outline-primary btn-rounded"
                    data-mdb-ripple-color="dark"
                    value="{{producto.id?'Editar':'Agregar'}}"
                >
                    
                
                <button
                    type="button"
                    class="btn btn-outline-warning btn-rounded"
                    data-mdb-ripple-color="dark"
                    ng-click="regresar()"
                >
                    Cancelar
                </button>
            </div>
        </form>

        
    </div>
  
</div>
<!-- Modal confirmar pedido-->
<div class="modal fade" id="modalCortarImagen" tabindex="-1" aria-labelledby="modalCortarImagen" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header mt-4">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Pedido</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <canvas id="canvas">
                        Your browser does not support the HTML5 canvas element.
                    </canvas>
                </div>
            </div>
            <div class="modal-footer">
                <input type="file" id="fileInput" accept="image/*" />
                <input type="button" id="btnRestore" value="Reiniciar" />
                <input type="button" id="btnCrop"  data-mdb-dismiss="modal" value="Recortar y Cerrar" />
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>

<script>
    var canvas  = $("#canvas"),

        context = canvas.get(0).getContext("2d"),
        $result = $('#result');
    console.log(canvas);
    $('#fileInput').on( 'change', function(){
        if (this.files && this.files[0]) {
            if ( this.files[0].type.match(/^image\//) ) {
                var reader = new FileReader();
                reader.onload = function(evt) {
                    var img = new Image();
                    img.onload = function() {
                        context.canvas.height = img.height;
                        context.canvas.width  = img.width;
                        context.drawImage(img, 0, 0);
                        var cropper = $("#canvas").cropper({
                            aspectRatio: 16 / 9
                        });
                        $('#btnCrop').click(function() {
                            // Get a string base 64 data url
                            var croppedImageDataURL = $("#canvas").cropper('getCroppedCanvas').toDataURL("image/png");
                            $result.append( $('<img>').attr('src', croppedImageDataURL) );
                        });
                        $('#btnRestore').click(function() {
                            $("#canvas").cropper('reset');
                            $result.empty();
                        });
                    };
                    img.src = evt.target.result;
                };
                reader.readAsDataURL(this.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    });
</script>
