<link rel="stylesheet" href="css/mdb.min.css" />
<div class="card" ng-if="!usuario">
    <div class="card-header d-flex justify-content-between">
        <h5>Usuarios registrados</h5>
        <button
            type="button"
            class="btn btn-outline-primary btn-rounded"
            data-mdb-ripple-color="dark"
            ng-click="addUsuario()"
        >
            <i class="fas fa-plus"></i> Agregar
        </button>
    </div>
    <div class="card-body">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Usuarios</th>
                    <th>Privilegios</th>
                    <th>Creado</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead> 
            <tbody>
                <tr data-ng-repeat="usuario in usuarios">
                    <td>
                        <p class="fw-bold mb-1">{{usuario.nombre+' '+usuario.apellidos}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{usuario.telefono}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{usuario.usuario}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{usuario.perfil==1?'Administrador':'Usuario'}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{usuario.fecha_creado}}</p>
                    </td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-danger btn-rounded"
                            data-mdb-ripple-color="dark"
                            ng-click="confirmDelete(usuario)"
                        >
                            <i class="far fa-trash-alt"></i> Eliminar
                        </button>
                    </td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-outline-warning btn-rounded"
                            data-mdb-ripple-color="dark"
                            ng-click="editarUsuario(usuario)"
                        >
                            <i class="fas fa-pen"></i> Editar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted"></div>
</div>

<div class="card" ng-if="usuario">
    <div class="card-header d-flex justify-content-between">
        <h5>{{usuario.id?'Editar':'Agregar'}} usuario</h5>
        <button
            type="button"
            class="btn btn-outline-primary btn-rounded"
            data-mdb-ripple-color="dark"
            ng-click="regresar()"
        >
            <i class="fas fa-arrow-left"></i> Regresar
        </button>
    </div>
    <div class="card-body">
        <form class="row justify-content-center" novalidate name="formUsuario" data-ng-submit="submitForm(formUsuario.$valid)" autocomplete="off">
            <div class="col-md-4 col-sm-12">
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="nombre"
                        class="form-control form-control-lg"
                        name="nombre"
                        ng-model="usuario.nombre"
                        required
                    />
                    <label class="form-label" for="nombre">Nombre</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="apellidos"
                        class="form-control form-control-lg"
                        name="apellidos"
                        ng-model="usuario.apellidos"
                        required
                    />
                    <label class="form-label" for="apellidos">Apellidos</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="telefono"
                        class="form-control form-control-lg"
                        name="telefono"
                        ng-model="usuario.telefono"
                        required
                    />
                    <label class="form-label" for="telefono">Telefono</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="text"
                        id="usuario"
                        class="form-control form-control-lg"
                        ng-model="usuario.usuario"
                        name="usuario"
                        required
                    />
                    <label class="form-label" for="usuario">Usuario</label>
                </div>
                <div class="form-outline mb-4">
                    <input
                        type="password"
                        id="password"
                        class="form-control form-control-lg"
                        name="password"
                        required
                        ng-model="usuario.password"
                        
                    />
                    <label class="form-label" for="password">Contraseña</label>
                </div>
                <div class="form-outline mb-4">
                    <select
                        type="perfil"
                        id="perfil"
                        class="form-control form-control-lg active"
                        name="perfil"
                        required
                        ng-model="usuario.perfil"
                    >
                        <option value="" disabled>Seleccionar</option>
                        <option value="1">Administrador</option>
                        <option value="0">Usuario</option>
                    </select>
                    <label class="form-label" for="perfil">Perfil</label>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button
                    type="submit"
                    class="btn btn-outline-primary btn-rounded"
                    data-mdb-ripple-color="dark"
                >
                    {{usuario.id?'Editar':'Agregar'}}
                </button>
                <button
                    type="button"
                    class="btn btn-outline-warning btn-rounded"
                    data-mdb-ripple-color="dark"
                    ng-click="regresar()"
                >
                    Cancelar
                </button>
            </div>
        </form>
    </div>
   
</div>
<script type="text/javascript" src="js/mdb.min.js"></script>
